.footer {
  background: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 5px solid var(--light);
}

.contact-img {
  color: var(--lightest);
  margin: 10px 30px 10px 30px;
  height: 50px;
  width: 50px;
}

.contact-img:hover {
  color: var(--medium);
}
