/* :root {
  --lightest: #f2e9e4;
  --light: #c9ada7;
  --medium: #9a8c98;
  --dark: #4a4e69;
  --darkest: #22223b;
} */

:root {
  --lightest: #bfbfb8;
  --light: #a4a69c;
  --medium: #4c594f;
  --dark: #35403a;
  --darkest: #232625;
}

/* :root {
  --lightest: #d3d3d3;
  --light: #e5383b;
  --medium: #b1a7a6;
  --dark: #660708;
  --darkest: #161a1d;
}  */

* {
  font-family: "Rajdhani", sans-serif;
  margin: 0;
  padding: 0;
}

.cert-image {
  max-width: 75vw;
  padding-bottom: 30px;
}
