.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 7vh;
  background: var(--dark);
  border-bottom: 5px solid var(--light);
  
}

.nav-link {
  color: var(--medium);
  background: var(--dark);
  text-decoration: none;
  font-size: 4vh;
  transition: background-color 0.3s ease;
}

@media only screen and (max-width: 768px) {
  .nav-link {
    font-size: 0;
  }

  .nav-link svg {
    font-size: 4vh;
  }
}

.nav-link.active {
  background: var(--dark);
  color: var(--lightest);
}

.nav-link:hover {
  color: var(--light);
}
