.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--darkest);
}

.container {
  border-radius: 12px;
  background: var(--dark);
  border: 3px solid var(--light);
  padding: 35px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: calc(33.33% - 60px);

  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container:hover {
  border: 3px solid var(--lightest);
}

.wrapper {
  background: var(--dark);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-image {
  background-position: center;
  height: 200px;
  border-radius: 12px;
}

.project-title {
  color: var(--lightest);
  font-size: 2.4rem;
  background-color: var(--darkest);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  margin-top: 15px;
  width: 420px;
}

.project-description {
  color: var(--light);
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  background-color: var(--darkest);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 420px;
}

.button-wrapper {
  margin-top: 18px;
}

.btn {
  border: 2px solid var(--darkest);
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
  background: transparent;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
  background-color: var(--darkest);
  color: var(--light);
  border: 2px solid var(--light);
}

.btn + .btn {
  margin-left: 10px;
}

.fill {
  background: var(--medium);
  color: var(--light);

  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .banner-image {
    max-height: 15vh;
  }
  .container {
    width: calc(50% - 40px);
  }

  .project-title {
    font-size: 1.8rem;
    margin-top: 10px;
  }

  .project-description {
    font-size: 0.7rem;
    max-width: 80vw;
    margin-top: 5px;
  }

  .button-wrapper {
    margin-top: 12px;
    display: flex;
  }
}
