.resume {
  background-color: var(--darkest);
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.resume-a {
  color: var(--lightest);
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 20px;
}

.resume-prev {
  height: 75vh;
  width: 50vw;
}
